<div class="w-100 d-flex justify-content-center align-items-center mt-5">
  <div class="w-50 d-flex justify-content-center align-items-center">
    <%= render 'form', survey: @survey %>
  </div>
</div>