<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="d-flex justify-content-evenly w-100">
    <h1>Surveys List</h1>
    <%= link_to new_survey_path do %>
      <span class="btn btn-success" title="New Survey">+</span>
    <% end %>
  </div>
  <span class="w-100 mb-5 border border-bottom-1"></span>
  
  <% unless @surveys.present? %>
    <p>Not yet any surveys</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Survey Name</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= survey.name %></td>
            <th scope="row">
              <span>Show</span>
              <span>Edit</span>
              <span>Destroy</span>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end  %>
</div>
