<div class="w-100 d-flex justify-content-center align-items-center mt-5">
  <div class="d-flex justify-content-center flex-column align-items-center" style="max-width: 600px;">
    <h1>New Survey</h1>
    <%= render 'form', survey: @survey %>
  </div>
</div>